* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.flyer {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.cowboys {
    text-align: left;
    width: 600px;
    margin: 0 auto;
} 