* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
/* flexbox container */
#navbar {
    background-color: rgb(93, 44, 52);
    display: flex;
    justify-content: space-evenly;
}

/* flexbox item */

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}