* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: #222;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

@media screen and (max-width:450px) {
    body {
        background-color: pink;
    }

    #nav {
        flex-direction: column;
        align-items:center
    }
}