* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#bulletin-board {
    background-image: url("../images/corkboard.jpg");
    border-image: url("../images/frame.jpg") 49 50 46 47;
    border-style: solid;
    border-width: 50px;
    margin: 24px;
    min-height: calc(100vh - 48px);
    padding: 24px;
    width: calc(100vw - 48px);
}
.post-it {
    Background-color: #fdfd96;
    padding: 24px;
    margin: 24px;
    Width: 200px;
    vertical-align:top 

}

.post-it1 {
    Background-color: #ff6961;
    padding: 24px;
    margin: 24px;
    Width: 200px;
}

.post-it2 {
    Background-color: #77dd77;
    padding: 24px;
    margin: 24px;
    Width: 200px;
}
.post-it3 {
    Background-color: #fdfd96;
    padding: 24px;
    margin: 24px;
    Width: 200px;

}