* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-colum {
    background-color: rgb(243, 196, 204);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;

}

.button {
    text-decoration: none;
    color: rgb(170, 64, 82);
    display: inline-block;
}

.primary {
    background-color: rgb(228, 98, 122);
    color: white;
    padding: 12px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 6px;
}

.secondary {
    color: rgb(228, 98, 122);
    padding: 12px;
    border: 3px solid  rgb(228, 98, 122
    );
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}