* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 1200px;
    margin: 48px auto;

    background-color: #efefef;
    min-height: 100vh;
}