* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#Layout {
    display: flex;
    max-width: 1200px;
    margin: 48px auto;

    background-color: #ffffff;
    min-height: 100vh;
    align-items: flex-start;
}

#thumbnail-colum{
    width: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#thumbnail-colum-2 {
    width: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#featured-image-colum {
    width: 575px;
    height: 575px;
    display: flex;
    justify-content: center;
    align-items: auto;

}
#product-info-colum img{
    width: 540px;
    height: 540px;
    object-fit: contain;
}

#featured-image-colum-2 img{
    width: 500px;
    height: 500px;
    object-fit: contain;

}

#product-info-colum {
    width: 350px;

}

#product-info-colum h1 {
    font-size: 27px;
    line-height: 1;
    margin-top: 0;
}


#product-info-colum h2 {
    font-size: 30px;

}

#product-info-colum a {
    color: #222;
    text-decoration: underline;

}


#product-info-colum .standardized { 
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    text-decoration: none;
    background-color: rgb(128, 211, 247);
    color: white;
    padding: 10px;
    border-radius: 60px;
    font-size: 19px;
    font-weight: bold;
}

#product-info-colum .boarder {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(8, 1, 1);
    padding: 10px;
    border-radius: 60px;
    font-size: 19px;
    font-weight: bold;
    border-color: rgb(1, 6, 6);
}

